
@{
    ViewData["Title"] = "PatientInformation";
}
@Html.Partial("AfterLogin2")
<style>
    h1 {
        text-align: center
    }
</style>
<h1>PatientInformation</h1>
<div class="border-success">

    <div class="col-md-3">

        <a class="nav-link text-dark" asp-area="" asp-controller="PatientClient" asp-action="Getallpatientdetails"><div class="p-3 mb-2 bg-primary text-white">AllPatientRecord</div> </a>

    </div>

</div>


