@{
    ViewData["Title"] = "UserInformation";

}
@Html.Partial("AfterLogin2")
<style>
    h1 {
        text-align: center
    }
</style>
<h1>UserInformation</h1>
<div class="border-success">

    <div class="col-md-3">

        <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index"><div class="p-3 mb-2 bg-primary text-white">AllUserRecord</div> </a>

    </div>

</div>
